
<nav id='nav' class="navbar fixed-top navbar-dark bg-dark">
    <span class="navbar-text">
        <a href="/">Home |</a>
        <a href="/astonished"> Astonished |</a>
        <a href="/sneaky"> Sneaky |</a>
        <a href="/thinking"> Lost in thought</a>
    </span>

</nav>