
<div class="container">

   <% for(let i = 0; i < pictures.length; i++){  %>

        <img class='resize img-fluid float-left' src="images/<%= pictures[i] %>" alt = 'Image <%= i %>' />

    <% } %>

</div>