
<div class="container">

   <% for(let i = 1; i < pictures.length; i++){  %>

        <img class='img-fluid float-left' src="images/beach/<%= pictures[i] %>"  alt = 'Image <%= i %>' />

    <% } %>

</div>