
<nav class="navbar navbar-dark bg-dark" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/cats">Cats</a></li>
                <li><a href="/dogs">Dogs</a></li>
                <li><a href="/greet/:name">Hello</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <img id="pic" src="#">
</div>
