<!DOCTYPE html>

<html>

    <head>
        <% include ../views/head.ejs %>
    </head>

<body>
    <% include ../views/dogs.ejs %>
    <p>
        <% include ../views/cats.ejs %>
    </p>
</body>

</html>